form {
    /* Displays button next to input box */
    display: inline-block;
  }
  
  input[type="text"] {
    border: 1px solid #ccc;
    height: 1.6em;
    width: 29em;
    color: #666;
  }


  button:focus {
    outline: 0 none;
  }
  
  input[type="submit"] {
    margin-left: -0.8px;
    /* 2px added to account for default 1px padding of input box set by user agent (browser) stylesheet */
    height: -webkit-calc(1.6em + 2px);
    height: calc(1.6em + 2px);
    width: 60px;
    color: grey;
    border: none;
  }
  
  .button:hover {
    cursor: pointer;
    opacity: 0.8;
    color: #9a9797;
  }

 