
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
#header {
    background-color:#fff;   
    color:rgb(230, 23, 83);
    height: 130px;
    padding:20px;
}

#header .logo {
    background-image: url(../images/logo_codespace.svg);
    height: 100px;
    background-repeat: no-repeat;
    float:left;
    width: 25%;
}

#header .titulo {
   
    height: 100px;
    float:left;
    width: 50%;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    padding-top: 15px;
}

#header .right {
    
    height: 100px;
    float:right;
    text-align: right;
    padding-top:18px;
    width: 25%;
    right: 50px;
    position: relative
}

#header .code {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 0px;
    display: block;
}

#header .instructor {
   font-size: 0.9em;
}

#footer {
    background-color: rgb(230, 23, 83);
    color:#fff;
    background-image: url(../images/logo_codespace_negativo.svg);
    background-position: center 14px;
    height: 170px;
    background-size: 110px;
    background-repeat: no-repeat;
    clear:both;
    margin-top:20px;
}

#footer .juan {
    padding-top:90px;
    text-align: center;
    font-size: 0.80em;
}

#footer .info {
   
    text-align: center;
    font-size: 0.72em;
}
#footer .info::before {
    /*content: "C/ Compositor Lehmberg Ruiz, 13 29007 Málaga | 900 102 101 | www.codespaceacademy.com";*/
}


html {
    background: #fff;
	margin:0;
    padding:0;
}
body {
    font-family: 'Source Sans Pro', sans-serif !importat;
    padding:0;
	margin:0;
    background: #fff;
    color:#333;
}

#main-content {
    padding: 0px 20px;
    min-height: 45vh;
    margin-bottom: 20px;
}


#main-content #navegacion {
    margin: 50px 0px 20px;
    clear:both;
    overflow: auto;
}

#main-content #navegacion .left {
    float:left;
    height: 50px;
}

#main-content #navegacion .right {
    float:right;
    height: 50px;
    text-align: right;
}

#main-content code {
    color:rgb(230, 23, 83);
}

#main-content pre {
    background-color: #333;
}
#main-content table.data {
    border-spacing: 0px;
    border-collapse: separate;
}
#main-content table.data th, #main-content table.data td {
    text-align: left;
    border:1px solid #333;
    padding: 5px 10px;
    
}